<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite">
    <h:head>
        <title>ajax testing page</title>
    </h:head>
    <h:body>
        <h:form>
            <h:commandLink value="call fast ajax" action="#{ajaxBean.fastAjax}" styleClass="fastAjaxClass">
                <f:ajax render="lastMethodCalled"/>
            </h:commandLink>

            <br/>

            <h:commandLink value="call slow ajax" action="#{ajaxBean.slowAjax}">
                <f:ajax render="lastMethodCalled"/>
            </h:commandLink>

            <br/>

            <h:commandLink value="call really slow ajax" action="#{ajaxBean.reallySlowAjax}">
                <f:ajax render="lastMethodCalled"/>
            </h:commandLink>

            <br/>

            <h:commandLink value="call normal link" action="index.xhtml?faces-redirect=true"/>

            <br/>

            <h:commandLink value="call back the same page" action="ajaxTest.xhtml?faces-redirect=true"/>

            <br/>

            <h:outputText value="#{ajaxBean.lastMethodCalled}" id="lastMethodCalled"/>
        </h:form>
    </h:body>
</html>
