/** Add css rules here for your application. */
body, html {
    margin: 0;
    padding: 0;
    border: 0;
}

/** Example rules used by the template application (remove for your app) */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

