/**
 * Notifier
 */
.notificationStylesHover,
.notificationStyles {
    padding: 12px 18px;
    margin: 0 0 6px 0;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    font: normal 13px 'Droid Sans', sans-serif;
    border-radius: 3px;
    box-shadow: #999 0 0 12px;
    width: 300px;
    min-height: 64px;
}

.notificationStylesHover {
    opacity: 1 !important;
    box-shadow: #000 0 0 12px !important;
}

.ciplogic-notifier-icon {
    float: left;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    margin-right: 4px;
}

.ciplogic-notifier-title {
    font-weight: bold;
    clear: right;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

.gwt-HorizontalSplitPanel div {
    overflow : hidden;
}

.overflowScroll {
    overflow: scroll;
}
/*************************************** documents ***/
.documentTopBar  {
    border-bottom : black solid 1px;
}

.documentTopBar div {
    margin : 2px;
}

/************************************** codemirror **/
.CodeMirror-scroll {
    height : 100%;
}

.CodeMirror {
    height : 100%;
}

/**/
.ciplogicError {
    border: red solid 1px;
    background-color: #ffeeee;
}

.CodeTextEditor {
    position: relative;
    width: 100%;
    height: 100%;
}

#mainContainer {
    position: absolute;
    left : 0;
    top : 0;
    bottom : 0;
    right : 0;
}

.gwt-TabLayoutPanelContent,
.gwt-StackLayoutPanelContent { /* FIXME: this is just terrible */
    padding: 0 !important;
    border: none !important;
    margin: 0 !important;
}

.GermaniumForm {
    margin-bottom: 10px;
}

.GermaniumForm input[type="text"],
.GermaniumForm input[type="password"],
.GermaniumForm textarea,
.GermaniumForm select {
    width: 120px;
}

.GermaniumFormLabel {
    float : left;
    width: 80px;
    overflow: hidden;
    text-align: right;
}

.GermaniumFormInput {
    margin-right: 80px;
    padding: 1px;
}

.overflowScroll {
    overflow: scroll;
}

.ProgressBarContainer {
    border: red solid 1px;
    position: relative;
}

.ProgessBarValue {
    background-color: blue;
    position: absolute;
    top : 0;
    left : 0;
    bottom : 0;
}

/**
 * Tabs
 **/
.gwt-TabLayoutPanel {
    background-color : #efefef !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    margin-left : 8px !important;
    border-radius: 3px 3px 0px 0px;
    padding : 1px 1px 0 1px !important;
    font-size : 1.1em !important;
    font-weight : normal !important;
}

.gwt-TabLayoutPanelTabInner {
    border-radius: 3px 3px 0px 0px;
    padding : 3px 10px 0px 10px!important;
}

.gwt-TabLayoutPanelTabs {
    margin-top : 4px;
    padding-left : 8px;
}

.gwt-TabLayoutPanelContentContainer {
    margin : 0 10px 10px 10px;
    box-shadow : 1px 1px 3px;
    border : none !important;
    background-color : white;
}

/**
 * INACTIVE TAB
 */
.gwt-TabLayoutPanelTab {
    background: #ffffff !important; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #cfcfcf 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cfcfcf)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#cfcfcf 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#cfcfcf 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#cfcfcf 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#cfcfcf 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfcfcf',GradientType=0 ) !important; /* IE6-9 */
}

.gwt-TabLayoutPanelTabInner {
    background: #e0e0e0 !important; /* Old browsers */
    background: -moz-linear-gradient(top, #e0e0e0 0%, #f4f4f4 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#f4f4f4)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e0e0e0 0%,#f4f4f4 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e0e0e0 0%,#f4f4f4 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e0e0e0 0%,#f4f4f4 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, #e0e0e0 0%,#f4f4f4 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#f4f4f4',GradientType=0 ) !important; /* IE6-9 */
    padding : 2px 10px 0 10px;
}

/**
 * ACTIVE TAB
 */
.gwt-TabLayoutPanelTab-selected {
    box-shadow : 1px 1px 3px;
    background : white !important;
}

.gwt-TabLayoutPanelTab-selected .gwt-TabLayoutPanelTabInner {
    background: #f0f0f0 !important; /* Old browsers */
    background: -moz-linear-gradient(top, #f0f0f0 0%, #ffffff 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#ffffff)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f0f0f0 0%,#ffffff 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f0f0f0 0%,#ffffff 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f0f0f0 0%,#ffffff 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, #f0f0f0 0%,#ffffff 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=0 ) !important; /* IE6-9 */
}

/**
* Panel title bar
*/
.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
    background: #77777b !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #77777b 0%, #77777b 3%, #24273f 4%, #1c1e2c 49%, #262936 50%, #2a2c38 97%, #2a2c38 97%, #262834 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77777b), color-stop(3%,#77777b), color-stop(4%,#24273f), color-stop(49%,#1c1e2c), color-stop(50%,#262936), color-stop(97%,#2a2c38), color-stop(97%,#2a2c38), color-stop(100%,#262834)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #77777b 0%,#77777b 3%,#24273f 4%,#1c1e2c 49%,#262936 50%,#2a2c38 97%,#2a2c38 97%,#262834 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #77777b 0%,#77777b 3%,#24273f 4%,#1c1e2c 49%,#262936 50%,#2a2c38 97%,#2a2c38 97%,#262834 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #77777b 0%,#77777b 3%,#24273f 4%,#1c1e2c 49%,#262936 50%,#2a2c38 97%,#2a2c38 97%,#262834 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #77777b 0%,#77777b 3%,#24273f 4%,#1c1e2c 49%,#262936 50%,#2a2c38 97%,#2a2c38 97%,#262834 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77777b', endColorstr='#262834',GradientType=0 ) !important; /* IE6-9 */
    border : none !important;
    color : white;
    font-weight : normal !important;
    text-align : left !important;
    padding-left : 10px !important;
}

/**
 * Regular button.
 */
button.gwt-Button  {
    background: #b3b7ca !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #b3b7ca 0%, #d1d3df 49%, #acaec6 50%, #cbcddb 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3b7ca), color-stop(49%,#d1d3df), color-stop(50%,#acaec6), color-stop(100%,#cbcddb)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b3b7ca 0%,#d1d3df 49%,#acaec6 50%,#cbcddb 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b3b7ca 0%,#d1d3df 49%,#acaec6 50%,#cbcddb 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b3b7ca 0%,#d1d3df 49%,#acaec6 50%,#cbcddb 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #b3b7ca 0%,#d1d3df 49%,#acaec6 50%,#cbcddb 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b7ca', endColorstr='#cbcddb',GradientType=0 ) !important; /* IE6-9 */
    border-radius : 2px;
    border-top : solid 1px #fafafb !important;
    border-left : solid 1px #e9e9ef !important;
    border-right : solid 1px #ebecf1 !important;
    border-bottom : solid 1px #cccedc !important;
}

button:active.gwt-Button {
    background: #7c7d81 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #7c7d81 0%, #e2e3eb 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c7d81), color-stop(100%,#e2e3eb)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7c7d81 0%,#e2e3eb 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7c7d81 0%,#e2e3eb 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7c7d81 0%,#e2e3eb 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #7c7d81 0%,#e2e3eb 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7d81', endColorstr='#e2e3eb',GradientType=0 ) !important; /* IE6-9 */

    border-radius : 2px;
    border-bottom : solid 1px #9ca0bb !important;
    border-right : solid 1px #b8bbce !important;
    border-left : solid 1px #b6b9cc !important;
    border-top : solid 1px #d3d5df !important;
}

/**
 * Dialog
 */
.gwt-DialogBox .dialogTopLeft,
.gwt-DialogBox .dialogTopRight,
.gwt-DialogBox .dialogMiddleLeft,
.gwt-DialogBox .dialogMiddleRight,
.gwt-DialogBox .dialogBottomLeft,
.gwt-DialogBox .dialogBottomCenter,
.gwt-DialogBox .dialogBottomRight {
    display : none !important;
}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 0 !important;
}

.gwt-DialogBox .dialogMiddleCenter .dialogMiddleCenterInner {
    padding: 3px !important;
    position: relative;
}

.gwt-DialogBox .Caption {
    background: #24273f !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #24273f 0%, #1c1e2c 49%, #262936 50%, #2a2c38 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#24273f), color-stop(49%,#1c1e2c), color-stop(50%,#262936), color-stop(100%,#2a2c38)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #24273f 0%,#1c1e2c 49%,#262936 50%,#2a2c38 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #24273f 0%,#1c1e2c 49%,#262936 50%,#2a2c38 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #24273f 0%,#1c1e2c 49%,#262936 50%,#2a2c38 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #24273f 0%,#1c1e2c 49%,#262936 50%,#2a2c38 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24273f', endColorstr='#2a2c38',GradientType=0 ) !important; /* IE6-9 */
    border : none !important;
    color : white;
}

.gwt-DialogBox .dialogTopCenterInner  {
    background: #77777b !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #77777b 0%, #262834 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77777b), color-stop(100%,#262834)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #77777b 0%,#262834 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #77777b 0%,#262834 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #77777b 0%,#262834 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #77777b 0%,#262834 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77777b', endColorstr='#262834',GradientType=0 ) !important; /* IE6-9 */
    padding : 1px !important;
}

.gwt-DialogBox > div > table {
    box-shadow : 1px 1px 3px;
    border : black solid 1px !important;
}


/**
 * Button bar
 */
.ButtonBar {
    background-color: #4b5283;
    padding-top : 4px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right : 10px;
    height : 26px;
    box-shadow : inset 1px 1px 3px;
}

/**
 * Split bar
 */
.gwt-SplitLayoutPanel-HDragger {
    background-color : #34315c !important;
    border-left : white solid 1px !important;
    border-right : white solid 1px !important;
    width : 5px !important;
}

/**
 *  Selenese Test Suite row
 */
.SeleneseTestSuiteRow {
    background: #7f7e84; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdmN2U4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjclIiBzdG9wLWNvbG9yPSIjYzZjM2QxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNyUiIHN0b3AtY29sb3I9IiNkNWQxZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNkMGNhZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDZjZmZkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #7f7e84 0%, #c6c3d1 7%, #d5d1fd 7%, #d0cafe 50%, #d6cffd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f7e84), color-stop(7%,#c6c3d1), color-stop(7%,#d5d1fd), color-stop(50%,#d0cafe), color-stop(100%,#d6cffd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7f7e84 0%,#c6c3d1 7%,#d5d1fd 7%,#d0cafe 50%,#d6cffd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7f7e84 0%,#c6c3d1 7%,#d5d1fd 7%,#d0cafe 50%,#d6cffd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7f7e84 0%,#c6c3d1 7%,#d5d1fd 7%,#d0cafe 50%,#d6cffd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7f7e84 0%,#c6c3d1 7%,#d5d1fd 7%,#d0cafe 50%,#d6cffd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7e84', endColorstr='#d6cffd',GradientType=0 ); /* IE6-8 */
}